a{
    color: #999;
}
.md{
    width: 1200px;
    margin: auto;
    height: 100%;
}
.sort{
    height: 50px;
    border: 1px solid #bbbbbb;
    margin: auto;
    box-sizing: border-box;
    
}
.sort>li{
    float:left;
    height:50px;
    line-height: 50px;
    position: relative;
    /* cursor:pointer;小手样式*/
}
.sort .sort_0{
    margin-left: 50px;
}
.sort_1,.sort_2,.sort_3{
    margin-left: 30px;
    
}
.sort .sort_icon_1{
    position: absolute;
    left: 52px;
    top: 19px;
    display: block;
    width: 8px;
    height: 10px;
    background: transparent url(https://res8.vmallres.com/20190808/images/echannel/icon/icon1.png) scroll no-repeat;
    background-position: 0 -70px;/* -90上边亮  -110下边亮 得先设置一个默认的排序，然后给亮度*/
}
.sort .sort_icon_2{
    position: absolute;
    left: 30px;
    top: 19px;
    display: block;
    width: 8px;
    height: 10px;
    background: transparent url(https://res8.vmallres.com/20190808/images/echannel/icon/icon1.png) scroll no-repeat;
    background-position: 0 -70px; /* -90上边亮  -110下边亮  得先设置一个默认的排序，然后给亮度*/
}
.sort .sort_icon_3{
    position: absolute;
    left: 30px;
    top: 21px;
    display: block;
    width: 8px;
    height: 10px;
    background: transparent url(https://res8.vmallres.com/20190808/images/echannel/icon/icon1.png) scroll no-repeat;
    background-position: 0 -29px;/* -52亮 */
}
.sort_white{
    height: 20px;
    display: block;
}
/* .content{
    border: 1px solid #bbbbbb;
} */


.phone_box{
    float:left;
    width: 220px;
    height: 360px;
    box-sizing: border-box;
    margin-right: 25px;
    margin-bottom: 25px;
    border: 1px solid #bbb;
    position: relative;

}
.img_box img{
    width: 180px;
    height: 180px;
    margin: 20px auto;
}
.img_box img:hover{
    cursor:pointer;
}
.img_box{
    text-align: center;
}
.phone_name,.phone_money{
    text-align: center;
}
.bot_box{
    display: flex;
    position: absolute;
    bottom: 0;
    height: 40;
    width: 100%;
    border-top:1px solid #bbb;
    box-sizing: border-box;
}
.phone_left{
    border-right: 1px solid #bbb;
    cursor:pointer;
    color: red;
}
.phone_left:hover{
    background: red;
    color: #fff;
}
.phone_right,.phone_left{
    height: 40px;
    line-height: 40px;
    width: 110px;
    text-align: center;
}
.phone_box:hover{
    border: 1px solid red;
}
.phone_box .phone_name{
    height: 30px;
    line-height: 30px;
}
.phone_box .phone_name:hover{
    color: red;
    cursor:pointer;
}
.phone_box .phone_money{
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: red;
}
.phone_box:nth-child(5n){
    margin-right: 0;
}